@import "../../styles/mixins";

.categories {
  position: relative;

  inline-size: 100%;
  block-size: 50px;

  background-color: rgb(var(--colors-red));

  &_list {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    inline-size: 100%;
    block-size: 100%;

    margin-inline-start: -1rem;
    overflow: hidden;

    @include breakpoint(md) {
      display: none;
      margin-inline-start: 0;
    }

    & li {
      display: flex;
      block-size: 100%;

      @include hover {
        a {
          background-color: #dc0001;
          cursor: pointer;
        }
      }

      & a {
        display: flex;
        align-items: center;

        inline-size: 100%;
        block-size: 100%;
        padding-inline: 1rem;

        color: #fff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.02rem;

        transition: 250ms background-color var(--transition-curve);
        will-change: background-color;

        @include breakpoint(lg) {
          font-size: 12px;
        }
      }

      .sub_categories {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        display: flex;
        flex: 1;
        flex-direction: column;

        inline-size: 100%;
        block-size: 180px;

        padding-block: 1.5rem;
        background-color: #fff;
        border-bottom: 1px solid var(--colors-light-200);

        opacity: 0;
        visibility: hidden;
        transform-origin: center;
        pointer-events: none;

        transition: 250ms opacity var(--transition-curve),
          250ms visibility var(--transition-curve);
        will-change: opacity, visibility;
        z-index: 5;

        h6 {
          font-size: 17px;
          margin-block-end: 1rem;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          li {
            display: flex;
            inline-size: fit-content;

            font-weight: 400;

            @include hover {
              color: rgb(var(--colors-red));
              cursor: pointer;
            }
          }
        }
      }

      &:hover .sub_categories {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &_mobile {
      position: relative;
      display: none;
      flex-flow: row nowrap;
      align-items: center;

      @include breakpoint(md) {
        display: flex;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 0.75rem;
        border: none;
        block-size: 50px;

        color: #fff;
        font-size: 16px;
        line-height: 1;

        svg {
          inline-size: 24px;
          block-size: 24px;
        }
      }

      .categories_mobile {
        position: fixed;
        inset: 0;
        top: 158px;

        display: flex;
        flex-direction: column;

        inline-size: 100%;
        block-size: calc(100% - 158px);

        background-color: rgb(var(--colors-red));
        z-index: 99;

        transform: scaleY(0);
        pointer-events: none;
        will-change: transform, pointer-events;
        transition: 650ms transform var(--transition-curve);
        transform-origin: top center;
        overflow: auto;

        @include breakpoint(xs) {
          top: 234px;
          block-size: calc(100% - 234px);
        }

        &__active {
          pointer-events: all;
          transform: scaleY(1);
        }

        &_list {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;

          li {
            display: flex;
            flex-direction: column;

            margin: 0.25rem 0.5rem;
            padding: 0.75rem 0.75rem 1rem;

            background-color: rgba(255, 255, 255, 0.25);
            border-radius: var(--radius-m);
            color: #fff;
            font-weight: 400;

            overflow: hidden;

            .category {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: space-between;

              svg {
                font-size: 20px;
              }
            }

            .sub_categories_mobile {
              display: flex;
              flex-direction: column;

              block-size: 0;
              transform: translateY(0.75rem);
              will-change: block-size;

              &.active {
                block-size: 100%;
              }
            }
          }
        }
      }
    }
  }
}
